.flex {
	display: flex;
	justify-content: center;
}

.button {
	align-items: center;
	gap: 12px;
}

.hero {
	width: 1024px;
	min-width: 1024px;
	max-width: 1024px;
	align-items: center;
	gap: 120px;
}

.hero-content {
	flex-direction: column;
	align-items: flex-start;
	gap: 36px;
}

.hero-image {
	width: 300px;
	height: 200px;
	flex-shrink: 0;
}

.header {
	width: 1024px;
	justify-content: space-between;
	align-items: center;
}

.page {
	width: 1280px;
	min-width: 1024px;
	padding: 64px;
	flex-direction: column;
	align-items: center;
	gap: 64px;
}

.navigation {
	align-items: flex-start;
	gap: 32px;
}
