.text {
	font-style: normal;
	line-height: normal;
	font-family: Montserrat;
}

.black {
	color: #000;
}

.white {
	color: #fff;
}

.sm {
	font-size: 16px;
	font-weight: 400;
}

.md {
	font-size: 20px;
	font-weight: 400;
}

.xl {
	font-size: 64px;
	font-weight: 600;
}

